  <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="padding-left: 25%;padding-right: 10%;">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <!--<li class=" headerTabs" ng-class="{active:tab===1}"><a (click)="tab = tab==1 ? a : 1" href="#">Home</a>
                    </li>
                    <li class="headerTabs" ng-class="{active:tab===2}"><a href="#" (click)="tab = tab==2 ? a : 2">Cities</a>
                    </li>
                    <li class="headerTabs" ng-class="{active:tab===3}"><a href="#" ng-click="tab = tab==3 ? a : 3">FAQs</a>
                    </li>
                    <li class="headerTabs" ng-class="{active:tab===4}"><a href="#" ng-click="tab = tab==4 ? a : 4">About Us</a>
                    </li>
                    <li class="headerTabs" ng-class="{active:tab===5}"><a href="#" ng-click="tab = tab==5 ? a : 5">Contact Us</a>
                    </li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#" (click)="signUp()"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Log In <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Admin</a>
                            </li>
                            <li><a href="#">User</a>
                            </li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
 